.filter-bar {
  margin: 0.2rem 0 ;
  padding: 0.5rem;
  background: #0D98BA;
  color: #fff;
  label {
    margin: 0 1rem;
    color: #fff;
  }
  input {
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #555;
    padding: 0.2rem 0.5rem;
  }
  select {
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: #555;
  }
  a {
    float: right;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #0D98BA;
    color: yellow;
    padding: 0 5px;
    cursor: pointer;
    &:hover {
      background: yellow;
      color: #0D98BA;
    }
  }
}